.AnalyticsMonthRow {
    display: grid;
    justify-content: center;
    padding-top: 100px;
    flex-grow:  1;
    width: 100%;
}

.DateHeader {
    justify-content: center;
    padding-top: 20px;
    color: white;
    font-size: 30px;
}